<div class="show-on-medium-and-up">
    <div class="row">

            <div class="card-container col s8 m4 l3 offset-s2 offset-m2 offset-l1 ">
                <div class="card  hoverable" (click)="myClickFunction('food_drinks')">
                    <div class="card-action">
                        <h3>Comidas y Bebidas</h3>
                    </div>
                    <div class="card-content">
                        <img src="assets/images/main/food_drinks.png">
                    </div>
                </div>
            </div>

        <div class="card-container col s8 m4 l3 offset-s2">
            <div class="card hoverable" (click)="myClickFunction('entertainment')">
                <div class="card-action">
                    <h3>Entretenimiento</h3>
                </div>
                <div class="card-content">
                    <img src="assets/images/main/entretainment.png">
                </div>
            </div>
        </div>
        <div class="card-container col s8 m4 l3 offset-m2 offset-s2">
            <div class="card hoverable" (click)="myClickFunction('housekeeping')">
                <div class="card-action">
                    <h3>House Keeping</h3>
                </div>
                <div class="card-content">
                    <img src="assets/images/main/housekepping.png">
                </div>
            </div>
        </div>

        <div class="card-container col s8 m4 l3 push-l3 offset-s2">
            <div class="card hoverable" (click)="myClickFunction('reservations')">
                <div class="card-action">
                    <h3>Citas y reservas</h3>
                </div>
                <div class="card-content">
                    <img src="assets/images/main/reservation.png">
                </div>
            </div>
        </div>
        <div class="card-container col s8 m4 l3 push-l3 offset-m4 offset-s2">
            <div class="card hoverable" (click)="myClickFunction('laundry')">
                <div class="card-action">
                    <h3>Lavanderia</h3>
                </div>
                <div class="card-content">
                    <img src="assets/images/main/laundry.png">
                </div>
            </div>
        </div>
    </div>
</div>
