<app-navbar></app-navbar>
<div class="row">
    <router-outlet></router-outlet>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue darken-4">
            <i class="large material-icons">info</i>
        </a>
        <ul>
            <li><a class="btn-floating blue "><i class="material-icons">map</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">list_alt</i></a></li>
            <li><a class="btn-floating  deep-orange"><i class="material-icons">watch_later</i></a></li>
        </ul>
    </div>
</div>
