@import '~material-design-icons/iconfont/material-icons.css';
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 10px;
}

nav{
    background-color: #0d47a1 !important;
}
